html {
   font-size: 100%;
   box-sizing: border-box;
   overflow-x: hidden;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Public Sans', sans-serif;
   overflow-x: hidden;
   margin-top: 64px; // for make the hero section bottom of the header
   @include breakpoint-up(medium) {
      margin-top: 80px;
   }
   &.scroll--disable {
      overflow-y: hidden;
   }
}

ul,
li {
   padding: 0;
   margin: 0;
}
a,
a:visited,
a:hover {
   text-decoration: none;
}
a {
   color: inherit;
}
.container {
   width: 100%;
   margin: 0 auto;
   // max-width: 1076px;
   max-width: 1110px;
   padding: 0 24px;
   @include breakpoint-down(small) {
   }
}

.f {
   display: flex;
   &-jc-c {
      justify-content: center;
   }
   &-jc-sb {
      justify-content: space-between;
   }
   &-ac-c {
      align-content: center;
   }
   &-ai-c {
      align-items: center;
   }
}

.pos-r {
   position: relative;
}
.pos-a {
   position: absolute;
}
.pos-f {
   position: fixed;
}
.pos-s {
   position: static;
}

.main-button {
   position: relative;
   display: inline-block;
   padding: 0.875rem 2.1875rem;
   background-image: linear-gradient(to right, $limeGreen, $brightCyan);
   border: 0;
   border-radius: 50px;
   cursor: pointer;
   color: $white;
   font-weight: 400;
   font-size: 0.875rem;
   overflow: hidden;
   text-decoration: none;
   &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.25);
      transition: opacity $hover-duration ease;
      opacity: 0;
   }
   &:hover::before {
      opacity: 1;
   }
}

.overlay {
   background: linear-gradient(to bottom, $darkBlue, transparent);
   height: 100%;
   left: 0;
   opacity: 0;
   position: fixed;
   top: 0;
   transition: opacity 100ms;
   visibility: hidden;
   width: 100%;
   @include breakpoint-down(small) {
      &--visible {
         opacity: 1;
         visibility: visible;
      }
   }
   z-index: 800;
}

.hide-small--max {
   @include breakpoint-down(small) {
      display: none;
   }
}
.hide-medium--max {
   @include breakpoint-down(medium) {
      display: none;
   }
}
.hide-large--max {
   @include breakpoint-down(large) {
      display: none;
   }
}

.hide-medium--min {
   @include breakpoint-up(medium) {
      display: none;
   }
}
.hide-large--min {
   @include breakpoint-up(large) {
      display: none;
   }
}

.hide-xlarge--min {
   @include breakpoint-up(xlarge) {
      display: none;
   }
}

// Colors
.c-db {
   // dark blue
   color: $darkBlue;
}
.c-white {
   // dark blue
   color: $white;
}
.c-gb {
   // grayish blue
   color: $grayishBlue;
}

.disable-img-select {
   user-select: none;
   pointer-events: none;
}

.section-padding-sm {
   padding: 64px 0;
   @include breakpoint-up(medium) {
      padding: 108px 0;
   }
}
.section-padding-lg {
   padding: 88px 0;
   @include breakpoint-up(medium) {
      padding: {
         top: 96px;
         bottom: 80px;
      }
   }
}

.logo-img {
   max-width: 100%;
   display: block;
}
