$font-sizes: (
   'hero-heading': (
      'default': 36.96px,
      'mobile': 52px,
   ),
   'section-heading': (
      'default': 30px,
      'mobile': 36px,
   ),
   'services-heading': (
      'default': 20px,
      'mobile': 24px,
   ),
   'article-heading': (
      'default': 17.02px,
   ),
   'nav-text': (
      'default': 18px,
      'mobile': 14px,
   ),
   'section-description': (
      'default': 14px,
      'mobile': 18px,
   ),
   'services-description': (
      'default': 14px,
   ),
   'author-text': (
      'default': 10px,
   ),
   'article-description': (
      'default': 13px,
   ),
   'footer-links': (
      'default': 15px,
   ),
   'copy-rights-text': (
      'default': 13px,
   ),
);

@each $class, $sizes in $font-sizes {
   .#{$class} {
      font-size: map-get($sizes, 'default');
      font-weight: 300;

      @if map-has-key($sizes, 'mobile') {
         @media screen and (min-width: 640px) {
            font-size: map-get($sizes, 'mobile');
         }
      }
   }
}

h1,
h2,
h3 {
   line-height: 1.15;
}
p {
   line-height: 1.5;
}
