.feature {
   background-color: $lightGrayishBlue;
   width: 100%;
   .container {
      text-align: center;
      @include breakpoint-up(medium) {
         text-align: left;
      }
   }
   &__description {
      max-width: 640px;
   }
   &__services {
      list-style: none;
      margin-top: 58px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 18px;
      @include breakpoint-up(medium) {
         row-gap: 30px;
      }
   }
   &__service {
      flex-basis: 100%;
      @include breakpoint-up(medium) {
         flex-basis: 50%;
         padding-right: 30px;
      }
      @include breakpoint-up(large) {
         flex: 1;
      }
   }
   &__service-img {
      width: auto;
      display: block;
      margin: auto;
      margin-bottom: 18px;
      @include breakpoint-up(medium) {
         margin-bottom: 30px;
         margin-left: 0; // for align img to the left
      }
   }
   &__service-description {
      line-height: normal;
      margin-top: 18px;
      @include breakpoint-up(medium) {
         margin-top: 30px;
      }
   }
   &__ {
   }
}
